# Sensitive files
*.pem
*.key
credentials.json
.env
secrets/

# OS files
.DS_Store
Thumsb.db

# Editor file
*.swo
*.swp
*~

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Python 
__pycache__/
*.pyc

# Logs
*.log

# Temporary files
tmp/
temp/
